#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: var(--dark);
  color: var(--green);
}

h1 {
  font-family: 'Protest Riot', sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 20px;
}

.front {
  width: var(--size);
  height: var(--size);
}

.back {
  width: var(--size);
  height: var(--size);
}

.card {
  position: relative;
}

.card img {
  display: block;
  border: 2px solid #fff;
  border-radius: 6px;
}

.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}
.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

.button {
  background: var(--yellow);
}